[Unit]
Description=Golang implementation of Graphite/Carbon server.
Documentation=https://github.com/go-graphite/go-carbon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/go-carbon -config /etc/go-carbon/go-carbon.conf
ExecReload=/bin/kill -USR2 $MAINPID

User=carbon
RuntimeDirectory=%N
StateDirectory=%N %N/whisper
ConfigurationDirectory=%N

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
